a[href^="http"]{
    color: #f70;
}
a[href*="google"]{
    color: #666;
}
a[target="_blank"]:after
{
    content: "\21f1";
    position: absolute;
    margin-left: 3px;
    transform: rotate(90deg);
    font-family: Cambria, EversonMono, FreeSerif;
}
