header{
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #a64dff;
    line-height: 1.6;
}
nav{
    width: 900px;
    margin: 0 auto;
    list-style: none;
    color: #FFF;
    transform: scaleY(1.3);
}
a{
    display: inline-block;
    color: white;
    font-family: Economica;
    font-weight: bold;
}
a:hover,
a:focus{
    background-color: #EEEEEE;
    color: #A8A4A1;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}