@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body{
    margin: 0;
    padding: 0;
    background: url("../images/bg.jpg") repeat;
}
.wrap,
.wrap:before,
.wrap:after{
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    width: 972px;
    margin: 61px auto 84px;
    border: 1px solid #eaeaea;
    position: relative;
}
.wrap:before{
    z-index: -2;
    width: 970px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    position: absolute;
    bottom: -91px;
    left: -1px;
    content: ''
}
.wrap:after{
    z-index: -1;
    width: 970px;
    height: 200px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -88px;
    left: -1px;
    content: ''
}
.wrap_header{
    display: block;
}
.logo{
    font-family: 'Oleo Script', cursive;
    color: #222222;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    width: 216px;
    display: inline-block;
    float: left;
}
.logo p{
    font-family: Arial, Helvetica, sans-serif;
    color:  #999999;
    font-size: 11px;
    font-weight: 400;
    margin: -3px 0 0;
    padding: 0;
}
.header{
    display: inline-block;
    text-align: center;
    float: right;
}
.menu{
    margin-right: 20px;
    position: relative;
}
.menu .menuItem{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.menu a{
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color:  #666666;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.menu a:hover{
    color:  #222222;
}
.menu .submenu{
    display: none;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 164px;
    z-index: 1;
    padding: 10px 10px 0;

}
.menu .submenu li {
    list-style: none;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.menu .menuItem:hover  .submenu{
    position: absolute;
    display: block;
    left: 311px;
    top: 43px;
}
.menu .btnApply {
    text-align: center;
    color: white;
    text-shadow: 0 -1px 1px rgba(198, 141, 30, 0.7);
    background-image: linear-gradient(to bottom, #FFC654 0%, #FFBA43 100%);
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    padding: 5px;
}

.menu .btnApply:hover {
    background: #ffad19;
    color:  #222222;
}
.submenu span{
    visibility: hidden;
}
.submenu li{
    color:  #666666;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
}
.submenu li span{
    color:  #aaaaaa;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
}
.submenu  > li:hover{
    color: #222222;
    height: 46px;
}
.submenu  > li:hover a{
    background-color:  #f3f3f3;
    border-radius: 3px;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 10px!important;
}
.submenu li:hover span{
    visibility: visible;
    display: block;

}
.menu .submenu li a {
    display: block;
    padding-top: 4px;
    padding-left: 5px;
    height: 38px;
    box-sizing: border-box;
    margin-top: 4px;
}
.submenu .subfirstchild{
    border: 0 !important;
    padding-top: 1px;
    margin-top: -1px;
}
.triangle:before {
    position: absolute;
    top: 0;
    left: 12px;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0;
    border-color: #e0e0e0 transparent transparent transparent;
}

.triangle:after {
    position: absolute;
    top: -1px;
    left: 13px;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #ffffff;
}
/*slider*/
.wrap_slider{
    padding: 0 76px;
    clear: both;
    position: relative;
    box-sizing: border-box;
    height: 200px;
}
.slider{
    display: inline-block;
    float: left;
    background-color:  #f6f6f6;
    width: 302px;
    height: 198px;
    box-shadow: 0 23px 10px -22px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
}
.slider_img img{
    width: 292px;
    height: 189px;
    padding: 5px;

}
.slider_navigation {
    position: absolute;
    left: 8px;
    bottom: 8px;
}
.slider_navigation .item{
    float: left;
}
.slider_navigation .arrow_left{
    width: 32px;
    height: 49px;
    background: url("../images/left.png");
    cursor: pointer;
}
.slider_navigation .arrow_right{
    width: 32px;
    height: 49px;
    background: url("../images/right.png");
    cursor: pointer;
}
.slider_navigation .slider_info{
    border-radius: 3px;
    background-color:  rgba(0, 0, 0, 0.6);
    width: 214px;
    height: 49px;
    margin-right: 3px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    padding-top: 6px;
    box-sizing: border-box;
    overflow: hidden;
}
.slider_navigation .information{
    display: block;
    color:  #f6f6f6;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.slider_navigation .size {
    color: #ffc14c;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;

}
.slider_navigation .location{
/* В�?троенный �?тиль */
    color:  #676767;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
}
.slider_navigation:after{
    clear: both;
}
.info_wrap{
    display: inline-block;
    width: 530px;
    position: absolute;
    text-align: center;
    padding-left: 20px;
    float: right;
    box-sizing: border-box;
}
.info{
    width: 440px;
    height: 100%;
    margin: 0;
    padding-left: 70px;
    position: relative;
    display: block;
    border-bottom: 1px solid #f6f6f6;
    font-family: 'Oxygen', sans-serif;
}
.info h2{
    color:  #515151;
    font-size: 38px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
    margin-top: 16px;
}
.info p{
    color:  #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.wrap_trailer{
    border-radius: 3px;
    /*background-color:  #ffbf48;*/
    /*background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);*/
    /*background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);*/
    /*background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);*/
    background: rgb(255,195,81);
    background: -moz-linear-gradient(top,  rgba(255,195,81,1) 0%, rgba(255,184,65,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,195,81,1)), color-stop(100%,rgba(255,184,65,1)));
    background: -webkit-linear-gradient(top,  rgba(255,195,81,1) 0%,rgba(255,184,65,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,195,81,1) 0%,rgba(255,184,65,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,195,81,1) 0%,rgba(255,184,65,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,195,81,1) 0%,rgba(255,184,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc351', endColorstr='#ffb841',GradientType=0 );
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    width: 168px;
    height: 40px;
    float: right;
    margin-top: 6px;
    text-align: left;
    padding-left: 9px;
    padding-top: 5px;
    box-sizing: content-box;
    position: relative;
}
.btnTrailer{
    text-decoration: none;
    font-family:'Oxygen', sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 13px;
    text-shadow: 0 -1px 0 rgba(208, 139, 18, 0.5);
}
.btnTrailer .title, .btnTrailer .text{
    display: block;
}
.btnTrailer .title {
    margin-top: 4px;
    margin-bottom: 4px;
}
.btnTrailer .text{
    font-family: Arial, sans-serif;
    color: #d28600;
    font-size: 10px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.wrap_trailer:hover .trailer_info{
    display: block;
}
.trailer_info{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color:  #afceb4;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 0 0 -75px;
    padding-top: 14px;
}
.trailer_info a{
    text-decoration: underline;
    color:  #afceb4;
}
.wrap_trailer:after{
    content: url("../images/arrow-right.png");
    width: 12px;
    height: 18px;
    right: 16px;
    top: 13px;
    position: absolute;
    cursor: pointer;
}
.wrap_trailer:before{
    content: '';
    width: 1px;
    height: 36px;
    border-left: 1px solid #ffad36;
    position: absolute;
    right: 42px;
    top: 4px;
}
.horizontal_line{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    width: 932px;
    height: 1px;
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
}
/*articles*/
.wrap_articles{
    height: 420px;
    margin: 12px 17px 0;
    box-sizing: border-box;
}
.wrap_articles h2{
    font-family: 'Oxygen', sans-serif;
    color:  #222222;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 14px;
    margin-top: 0;
}
.wrap_article_img{
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 300px;
    height: 148px;
    position: relative;
}
.wrap_article_img:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}
.wrap_article_img .manage_img{
    position: absolute;
    height: 62px;
    top: 50%;
    margin-top: -31px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    cursor: pointer;
}
.wrap_article_img:hover .manage_img{
    display: block;
}
.wrap_article_img .manage_img:after{
    clear: both;
}
.wrap_article_img .grey_circle{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 36px;
    height: 36px;
    float: left;
    position: relative;
    top: 50%;
    margin-top: -18px;
    margin-right: 3px;
}
.wrap_article_img .grey_circle:last-child{
    margin-right: 0;
}
.wrap_article_img .circle_gradient:before{
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrap_article_img .circle_gradient:hover:before{
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background-color: #fff;
}
.wrap_article_img .grey_circle:before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
}
.wrap_article_img .grey_circle:hover{
    border-radius: 50%;
    background-color:  rgba(0, 0, 0, 0.2);
    width: 62px;
    height: 62px;
    float: left;
    position: relative;
    margin-top: -31px;
}
.wrap_article_img .grey_circle:hover:before{
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
}
.icon_full_screen{
    background: url("../images/icon-sprite.png") 1px -30px no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -7px;
}
.grey_circle:hover .icon_full_screen{
    background: url("../images/icon-sprite.png") -38px -10px no-repeat;
    width: 25px;
    height: 21px;
    margin: -9px 0 0 -12px;
}
.icon_down{
    background: url("../images/icon-sprite.png") 0 1px no-repeat;
    width: 9px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
}
.grey_circle:hover .icon_down{
    background: url("../images/icon-sprite.png") -21px -10px no-repeat;
    width: 17px;
    height: 21px;
    margin: -8px 0 0 -8px;
}
.icon_plus{
    background: url("../images/icon-sprite.png") -15px -31px no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
}
.grey_circle:hover .icon_plus{
    background: url("../images/icon-sprite.png") -1px -10px no-repeat;
    width: 19px;
    height: 21px;
    margin: -9px 0 0 -9px;
}
.article_img{
    width: 294px;
    height: 142px;
    padding: 2px;
}
.article{
    width: 300px;
    float: left;
    margin-left: 19px;
}
.article_text{
    font-family: Arial, sans-serif;
    color:  #666666;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
    text-shadow: 0 1px 0 #ffffff;
    padding: 17px 10px 0;
}
.wrap_title{
    background: url("../images/bgr_image.png") repeat-x bottom;
}
.wrap_article:hover .wrap_title{
    background: url("../images/bgr_image_hover.png") repeat-x bottom;
}
.article_title{
    font-family: Oxygen, sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    margin: 0;
    padding: 10px 10px 0;

}
.article_description{
    font-family:  Arial, sans-serif;
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    margin: 0;
    padding: 0 10px 12px;
}
.article_right{
     float: right;
 }
.article_left{
    float: left;
    margin-left: 0;
}
/*tabs*/
.wrap_tabs{
    margin: 0 20px 0;
    /*border-bottom: 1px solid #c6c6c6;*/
    padding-bottom: 30px;
    -webkit-box-shadow: 0 3px 2px -2px rgba(122,121,122,1);
    -moz-box-shadow: 0 3px 2px -2px rgba(122,121,122,1);
    box-shadow: 0 3px 2px -2px rgba(122,121,122,1);
}
.wrap_tabs h2{
    font-family: Oxygen, sans-serif;
    color:  #222222;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0 0 18px;
}
.highlighter{
    color:  #c07e00;
    background-color: #ffe7b9;
}
.tabs{
    border-radius: 3px;
    border: 1px solid #ececec;
    background-color:  #ffffff;
    width: 932px;
    height: 236px;
}
.tabs_header{
    height: 42px;
    background-color: #fafafa;
}
input[type=radio] {
    display: none;
}
.tabs {
    position: relative;
    width: 100%;
    float: none;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
    background: linear-gradient(to top, #f0efef 75%, #fff);
    box-sizing: border-box;
}
.tabs label {
    display: block;
    float: left;
    border: 1px solid #e6e6e6;
    padding:14px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: rgb(102, 102, 102);
    text-align: center;
    cursor: pointer;
    margin: -1px -1px 0 0;
    z-index: 10;
    width: 95px;
}
.tabs label[for="tab1"]{
     border-left-color: transparent;
 }
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}
.tabs [id^="tab"]:checked + label {
    background: #FFF;
    border-bottom: 1px solid #fff;
    z-index: 10;
    position: relative;
}
.tab-content {
    display: none;
    width: 100%;
    height: 195px;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color:#ffffff;
    border-top: 1px solid #e6e6e6;
    margin-top: -1px;
}
.tab_content_title h3{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Arial, sans-serif;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.tab_content_title{
    border-bottom: 1px solid #e5e5e5;
}
.list_content{
    width: 286px;
    float: left;
    box-sizing: border-box;
    list-style-type: none;
    padding-left: 0;
}
.list_content li a:before{
    content: '';
    background: url("../images/icon-sprite.png") -12px 0 no-repeat;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -5px;
    width: 6px;
    height: 8px;
}
.list_content li a{
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    position: relative;
    padding-left: 26px;
}
.list_content li:hover a{
    color: #000000;
}
.content{
    width: 286px;
    float: left;
    color:  #999999;
    font-weight: 400;
    margin-left: 20px;
    box-sizing: border-box;
}
.content p{
    margin: 11px 0 0;
    color:  #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.wrap_content{
    width: 100%;
}
.content_wrap_img{
    margin-top: 15px;
    border: 1px solid  #f1f1f1;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 122px;
    height: 99px;
    float: left;
    margin-right: 10px;
}
.content_wrap_img img{
    width: 116px;
    height: 93px;
    padding: 2px;
}
.content a{
    font-family: Arial, sans-serif;
    color:  #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}
.content a:hover{
    text-decoration: underline;
}
/*footer*/
.wrap_footer{
    height: 246px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}
.footer_content{
    width: 180px;
    float: left;
    margin-right: 45px;
}
.footer_content h3{
    color:  #ffad19;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    font-family: Arial, sans-serif;
    margin: 0;
    text-transform: uppercase;
}
.links{
    list-style-type: none;
    padding: 0;
}
.links a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:  #666666;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.links li:hover a{
    color: #000000;
}
.links li{
    border-bottom: 1px solid rgba(0,0,0,0.1);;}
.links li:last-child{
    border: 0;
}
.last_articles{
    width: 460px;
    float: right;
}
.last_articles h3{
    font-family: Arial, sans-serif;
    color:  #ffad19;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding: 0;
}
.articles{
    list-style-type: none;
}
.articles .item{
    padding-bottom: 22px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 9px;
    padding-left: 34px;
    position: relative;
}
.articles .item::before{
    content: "";
    position: absolute;
    background: url("../images/icon-sprite.png") 0 -44px no-repeat;
    width: 21px;
    height: 19px;
    left: 0;
    top: 5px;
}
.articles a{
    font-family: Arial, Helvetica, sans-serif;
    color:  #666666;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    line-height: 18px;
}
.articles .snippet{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:  #aaaaaa;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
}
.articles .item:hover a{
    color: #000000;
}
.wrap_shadow{
    position: relative;
    bottom: 104px;
    width: 972px;
    height: 20px;
    margin: auto;
    background: #fff;
    border-radius: 3px;
    z-index: -3;
}
.wrap_shadow:before,
.wrap_shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 950px;
    top: 0;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin: 0 30px;
}
.wrap_shadow:after {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}